---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tips and Notes - Hebrew Course.">
  <main>
    <h2>Tips and Notes</h2>
  </main>
</Layout>

<style>
  main {
    background-color: #eae9e9;
    width: 78%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    margin-inline: auto;
    padding: 2rem;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
